<div class="mt-4">
    <form method="POST" action="">
  <div class="form-group">
      <label class="form-check-label" for="exampleCheck1">Tu khoa</label>
    <input type="text" class="form-control" id="search-input" placeholder="nhap tu khoa..." name = "q">
  </div>
  <select class="custom-select" name = "gender">
  <option >Chon gioi tinh</option>
  <option value="male">Nam</option>
  <option value="female">Nu</option>
</select>
  <button type="submit" class="btn btn-primary">Fine</button>
</form>
</div>