<div class="mt-4">
    <form method="POST" action="">
  <div class="form-group">
      <label class="form-check-label" for="exampleCheck1">Từ khóa</label>
    <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa..." name = "q">
  </div>
  <select class="custom-select" name = "gender">
  <option >Chọn giới tính</option>
  <option value="male">Nam</option>
  <option value="female">Nữ</option>
</select>
  <button type="submit" class="btn btn-primary">Fine</button>
</form>
</div>